
*{
	margin:0px;
	padding: 0px;
	box-shadow: ;
	font-family: "poppins"; sans-serif;
	transition: all.2s linear;
	text-decoration: none;
	border: none;
}
header{
	     position: fixed;
		 top: 0;
		 right: 0;
		 z-index:20;
	     left: 0;
	    justify-content: space-between;
	   background: #fff;
	   display: flex;
	   text-align: center;
	   padding: 10px 8%;
	   height: 60px;
	   box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
header .logo{
	 color: red;
	 font-size: 25px;
	 font-weight: bold;
}
header .logo span{
	  color: #000;
}
.menu{
	display: flex;
	list-style-type: none;
	
}
.menu li{
	    margin:0 10px;
		font-size: 15px;
		
}
.menu li a{
	  font-size: 14px;
	  color: #000;
	  font-weight: 300;
}
.menu li a:hover{
	  color: yellow;
}
header button{
	 background-color: red;
	 margin: 10;
	 transition: .2s;
	 padding:5 20;
	 cursor: pointer;
}
#home{
	margin-top: 90px;
	height: calc(100vh - 50px);
	display: flex;
	justify-content: space-between;
	padding: 0 10%;
	align-items: center;
	background: transparent;
	position: relative;
}
/* scrollbar */
::-webkit-scrollbar {
	  background-color: transparent;
	  width: 10px;
}
::-webkit-scrollbar-thumb{
	  background-color: red;
}
#home .left{
	width: 40%;
	/* height: 10px; */

}
#home .left h1{
	margin: 20px;
 font-size: 35px;
 margin-bottom:  20px;
}
#home .left h1 span{
	 color: red;
}
#home .left p{
	margin-bottom: 20px;
	font-size: 15px;
	color:#999; 
}
#home .left a{
	background-color: red;
	padding:10px 20px;
	color:#fff;
	transition: 0.5s;
}
#home .left a:hover{
	 background-color: #000;
}
#home .right{
	height: 50px;
   align-items: center;
   justify-content: center;
   display: flex;   
}
#home .right img{
	 width: 100%;
}
#cars{
	 justify-content:center;
	 flex-direction: column;
	 display: flex;
	 align-items: center;
	
}
.setion_title{
	text-transform: uppercase;
	position: relative;
	font-size: 25px;
	
}
.setion_title:before {
	background: red;
	position: absolute;
	left:10px;
	bottom:0;
	content: "";
	width: 100%;
	height: 5px;
	border-radius: 6px;
	
}.setion_title:after {
	background: red;
	position: absolute;
	left:-10px;
	top:0;
	content: "";
	width: 100%;
	height: 4px;
	border-radius: 6px;
	
	
}
.images {
	  margin: 100px auto;
	  padding: 0 8%;
}
.images ul {
	  display: flex;
	  width: 100%;
	  flex-wrap: wrap;
}
.images li {
	   display: flex;
	   align-items: center;
	   transition: 0.5s;
	   margin: 2.665%;
	   flex-direction: column;
	   height: 300px;
	   width: 28%;
}
.images li div {
	 height: 100%;
	 width: 60%;
}
.images li div img {
	  height: 90%;
	  width: 90%;
}
.images li:hover{
	 transform: scale(1.2);
	 margin: 20px;
}
span{
	color: red;
	
}
.prix{
	background: black;
	color: #fff;
	margin:3px;
	padding:5px;
}
#cars li a {
	font-size: 15px;
	padding: 10px;
	background: red;
}
#service{
	  display: flex;
	  align-items: center;
	  justify-content: center; 
	  width: 100%;
	  flex-direction: column;
}
.list_service{
	margin: 100px 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
}
.service{
	text-align: center;
	width: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 20px;
	margin: 20px;
}

.form_contact{
	height: 80%;
	width: 40%;
	padding: 30px;
	margin-bottom: 20px;
	margin: 40px;
	background-color: #FFA10;
	box-shadow: 10px 10px 10px 5px rgba(2,2,2.8);
	display: block;
	
	
}
div h3{
	font-size: 1.8em;
	margin-bottom: 20px;
}
/* .form{ */
	/* text-align: center; */
	/* background: blue; */
	/* padding: 40px; */
/* } */
.form_contact input, textarea{
	border: 1px solid black;
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
	outline: 0;
	border-radius: 6px;
	resize: none;
}
.form_contact input[type="submit"]{
	background: red;
	color: #fff;
	margin-bottom:0;
}
footer{
	
	color: #fff;
	font-size: 14px;
	margin: 10px 0;
}



























































footer{
	padding: 10px;
	margin:0px;
	background: red;
	align-items: center;
	text-align: center;
	
}
footer span{
	 color: black;
	 font-size: 15px;
	 border: 3px solid blue;
	 margin:10px;
	 padding: 8px;
	 background: white;
	 
}